<xf:title>{{ phrase('hampel_knownbots_new') }}</xf:title>

<xf:pageaction>
	<xf:if is="$xf.options.knownbotsStoreUserAgents.enabled && $xf.options.knownbotsSendUserAgents.api_token">
		<xf:button href="{{ link('tools/hampel-knownbots-send') }}">
			{{ phrase('hampel_knownbots_send_agents') }}
		</xf:button>
	</xf:if>
	<xf:button href="{{ link('tools/hampel-knownbots-purge') }}">
		{{ phrase('hampel_knownbots_purge') }}
	</xf:button>
	<xf:button href="{{ link('tools/hampel-knownbots-clear') }}">
		{{ phrase('hampel_knownbots_clear') }}
	</xf:button>		
</xf:pageaction>

<div class="block">
	<div class="block-container">
		<h2 class="block-header">
			{{ phrase('hampel_knownbots_recently_seen_bots') }}
		</h2>	
		<div class="block-body block-row">
			<xf:if is="$bots">		
				<ul>
					<xf:foreach loop="$bots" value="$bot">
						<li>
							<xf:if is="$bot.link">
								<a target="_blank" href="{{ $bot.link }}">{{ $bot.title }}:</a>
								<xf:else />
								{{ $bot.title }}
							</xf:if>
							[{{ $bot.user_agent }}]
						</li>
					</xf:foreach>
				</ul>
				<xf:else />
				<div class="blockMessage">{{ phrase('hampel_knownbots_email_none_found') }}</div>
			</xf:if>
		</div>
	</div>
</div>
<div class="block">
	<div class="block-container">
		<h2 class="block-header">
			{{ phrase('hampel_knownbots_unidentified_user_agents') }}
		</h2>			
		<div class="block-body block-row">
			<xf:if is="$unidentified">		
				<ul>
					<xf:foreach loop="$unidentified" value="$bot">
						<li>
							{{ $bot }}
						</li>
					</xf:foreach>
				</ul>
			<xf:else />
				<div class="blockMessage"></div>
			</xf:if>			
		</div>
	</div>
</div>